/* Write code for your CSS here */
.list{
    list-style-type: none;
    display: inline;
}
.list-item{
    border: 3px;
    border-radius: 10px;
    background-color: aqua;
    padding: 3px;
    margin-right: 10px;
}